# Prova de Introdução a Programação
---

- Feito por Pedro Antônio Maciel Saraiva (202303358) - Turma IV
- Professor Leonardo Antônio Alves
- Datas: 30 de junho ate 2 de julho

Recomendação: Rode esse codigo em algum ambiente que suporte bem o notebook(.ipynb) como Google Colab ou VSCode.

Nota: Há links para paginas da internet, seja para comentar mais sobre algum assunto, ou para referenciar um dataset pego na internet. Além disso, recomendação a instalação do [PyCaret](https://pycaret.gitbook.io/docs/get-started/installation)(Framework utilizado no meu grupo) pois na resposta da questão 4b, ele será utilizado(a instalação pode demorar e ocupar muito espaço, recomenda-se utiliza-lo em um espaço virtual).

In [1]:
#! pip install pycaret
#% pip install pycaret

In [2]:
import numpy as np
import pandas as pd
from IPython.display import clear_output
import random


print(np.__version__)
print(pd.__version__)

1.23.5
1.5.3

1. (valor 1,5) Sobre o trabalho em Grupo que tem desenvolvido, comente sobre o framework,
vantagens e desvantagens do mesmo explicando com suas palavras quais possíveis
aplicações poderia utilizar o mesmo. E qual sua vantagem para o decorrer do seu curso. (explore a
pesquisa)

No trabalho em grupo que estamos desenvolvendos, o principal framework que estamos utilizando é o [PyCaret](https://pycaret.org/), esse framework é um conglomerado de outros framworks, Ray, Prophet, CatBoost, LightGBM e etc. Ele é um framework open-source e low-code voltado para a area de machine learning, com o intuito de tornar essa area mais acessivel para quem esta começando a aprender sobre o assunto(Oque eles chamam de Democratização do Aprendizado de Máquina), por isso ele é low-code de fácil uso.


O PyCaret possui a vantagem de realizar coisas complexas em poucas linhas de código pois ele é muito automatizado, especificamente, ele é bem eficiente para [algoritmos](https://pycaret.gitbook.io/docs/get-started/modules) de Classificação, Regressão, Clusterização, Detecção de Anomalias e Serie Temporal. Além disso, é muito facil trabalhar com o pre-processamento dos dados do Dataset, pois ele ja possui funções que retiram valores não numericos, normaliza os dados, remove outliers, remoção de multicolinearidade e etc. Ou seja, ele é uma ferramente bem potente e facil de se entender para quem quer começar na area, ou desenvolver um modelo rapidamente.


Entretanto, o PyCaret apresenta algumas desvantagens, como por exemplo, ele não utiliza a [GPU automaticamente](https://pycaret.readthedocs.io/en/stable/installation.html#pycaret-on-gpu), você deve configurar de outra maneira para funcionar. Ele é uma biblioteca muito pesada, pois ele engloba diversos outros frameworks, então é bom você selecionar partes especificas do PyCaret para rodar dentro do seu codigo. Além disso, dependendo do problema a ser resolvido, ele não será tão eficiente, pois ele não é tão especifico e otimizado para uma tarefa em si.

Nesse sentido, podemos concluir que o PyCaret possui muitas aplicações em diversas areas, como detecção de fraudes em sistemas bancarios, detecção de problemas em exames medicos, previsões de evasão de clientes, predição de informaçãoes como vendas, temperatura , realização de forecasting por serie temporal e etc.

Para a pesquisa do meu grupo, ele é extremamente eficiente, pois nos não somos especialistas em Machine Learning, oque para nós é perfeito e além disso, o modulo de Time Series é bem detalhado e eficiente, algo que justamente precisamos, pois Time Series não é uma atividade simples de se resolver, então a capacidade do PyCaret nos serve muito bem.

Um uso desse framework sera demonstra a frente, especificamente na questão 4B.

2. (valor 2,5) Você estava conversando e explicando para um amigo sobre o BIA, e o assunto de matrizes
surgiu, você explicou o Numpy, durante uma partida de jogo da velha. Ele fez uma
pergunta: "Você acha que consegue usar o Numpy para criar um jogo da velha?" Claro,
você aceitou o desafio e apresentou este código, explicando.

In [ ]:
def verify_game(velha): # Essa função verifica se houve ganhador
  #Caso ocorra uma vitoria, a função return um True para que o codigo entenda que deva parar
  for linha in velha: #Verifica se houve vitoria nas linhas
    if linha[0] == linha[1] == linha[2] != 0: 
      print(f'O jogador {linha[0]:.0f} venceu! :)')
      return True

  for coluna in range(3): #Verifica se houve vitoria nas colunas
    if velha[0][coluna] == velha[1][coluna] == velha[2][coluna] != 0: 
      print(f'O jogador {velha[0][coluna]:.0f} venceu! :)')
      return True

  if velha[0][0] == velha[1][1] == velha[2][2] != 0: #Verifica se houve vitoria em uma diagonal
    print(f'O jogador {velha[0][0]:.0f} venceu! :)')
    return True

  if velha[0][2] == velha[1][1] == velha[2][0] != 0: #Verifica se houve vitoria na outra diagonal
    print( f'O jogador {velha[0][2]:.0f} venceu! :)')
    return True

def letrinha(velha,i,j):
  if velha[i][j] == 1: #Se o valor corresponder a 1, ele susbtitui por X no tabuleiro
    return 'X'
  elif velha[i][j] == 2: #Se o valor corresponder a 2, ele susbtitui por O no tabuleiro
    return '◯'
  else: #Caso nenhuma coisa ocorra, ele apenas deixa um espaço em branco
    return ' '


def tabuleiro(velha): #Mostra no output, o tabuleiro de uma forma bonitinha
  print(f' {letrinha(velha,0 ,0)} │ {letrinha(velha,0,1)} │ {letrinha(velha,0,2)}', flush=True)
  print('───┼───┼───', flush=True)
  print(f' {letrinha(velha,1,0)} │ {letrinha(velha,1,1)} │ {letrinha(velha,1,2)}', flush=True)
  print('───┼───┼───', flush=True)
  print(f' {letrinha(velha,2,0)} │ {letrinha(velha,2,1)} │ {letrinha(velha,2,2)}', flush=True)

def jogada(numero, letra, velha): #Função que faz os principais movimentos das jogadas
  while True:
    escolha = input(f'Jogador {numero}, escolha uma posição para colocar o {letra}: ')
    escolha = list(map(int, escolha.replace(' ', '').replace(',','')))
    #Recebe os valores inputados pelo player

    if (escolha[0] >= 4) or (escolha[1] >= 4): #Verifica o numero possui uma posição no tabuleiro
      print('O numero digitado não possui uma posição no tabuleiro!', flush=True)
    else:
      if velha[escolha[0]-1][escolha[1]-1] == 0:
        velha[escolha[0]-1][escolha[1]-1] = numero
        break #verifica se o player pode ocupar a posição desejada
      else:
        print(f'Posição ja ocupada!\nDigite outra posição para colcoar o {letra}', flush=True)
  tabuleiro(velha)



vencedor = 0
#Variavel que verifica se houve vencedor, parece ver se ha ou não empate

velha = np.zeros((3,3))
#Cria a matriz que serve de base para o jogo


print('-'*5+' Bem vindo ao Jogo da Velha do BIA '+'-'*5+'\n')
print('Este jogo é em dupla, então chame o seu amigo! :)')
print('Para colocar a sua posicão desejada, digite o numero')
print('da coluna, depois o numero da linha, da seguinte maneira')
print('reposta: <numero da linha> <numero da coluna>\n')
print('         Col1:  Col2:  Col3:')
print('Linha 1:      │      │     ')
print('         ─────┼──────┼─────')
print('Linha 2:      │      │     ')
print('         ─────┼──────┼─────')
print('Linha 3:      │      │     \n')


#Codigo que roda o jogo em si
try:
  for i in range(9): #São nove vezes que são jogados ao maximo
    if (i%2) == 0:
      jogada(1, 'X', velha)
      if verify_game(velha):
        vencedor = 1
        break #Fecha o game caso haja um vencedor
    else:
      jogada(2, 'O', velha)
      if verify_game(velha):
        vencedor = 1
        break #Fecha o game caso haja um vencedor
    clear_output(wait=True)
  if vencedor == 0: #Verifica se deu empate
    print("Deu empate!")

except Exception as error: #tratamento de erros
  print(f'Ocorreu um erro! :(\n{error}')

3. (valor 2,0) Você está participando de um projeto de pesquisa do CEIA, em parceria
com um fabricante de sensores do tipo sonar. Sua tarefa é desenvolver um
aplicativo em Python que calcula a distância até um objeto detectado pelo sonar. O
sensor sonar funciona emitindo um sinal e medindo o tempo que leva para o sinal
retornar, após ser refletido pelo objeto. Este tempo é então enviado para o seu
aplicativo. A velocidade de propagação do som na água varia entre 1.450 e 1.570 metros por
segundo. Com base nisso, escreva um programa em Python que receba o tempo de retorno do sinal
e calcule a distância média até o objeto.

In [10]:
def calculo_distancia(tempo): #Função que faz os calculos de distancia e mostra ao usuario
    distancia_min = (tempo/2)*1450
    distancia_max = (tempo/2)*1570
    media_distancia = (distancia_max+distancia_min)/2
    #A velocidade de propagação da agua varia entre 1450m/s e 1570m/s
    #Por isso trabalharemos com duas contas para termos um range entre as possiveis distancias
    #O sinal vai é volta, por divimos o sinal por 2 para desconsiderarmos isso
    #Apos isso, e so realizar a conta de cinemática básica
    
    print(f'A distancia entre o sonar e o objeto é de aproxidamente {media_distancia}m')
    print(f'Entretanto, por variações normais da agua, o objeto pode estar entre {distancia_min}m e {distancia_max}m' )

while True:
    try:
        print('Digite 1 caso você queria colocar o tempo de retorno do sinal manualmente, ou')
        print('Digite 2 caso você queria que o tempo fornecido seja aleatorio')
        sinal = int(input('>> '))
        clear_output(wait=True)
        if sinal == 1:
            tempo = float(input('Tempo de retorno do sinal(s): '))
            #A variavel tempo recebe o tempo entre a emissão e o retorno do sinal do sonar.

            print(f'O tempo fornecido é de {tempo}s')
            calculo_distancia(tempo)
            break
        elif sinal == 2:
            tempo =  random.randrange(1,100)
            #Tempo fornecido é aleatorio, em uma situação, isso é algo que não se queira
            #Mas para efeito didaticos, é eficiente
            
            print(f'O tempo gerado aleatoriamente é {tempo}s')
            calculo_distancia(tempo)
            break
        else:
            print('Digite uma opção viavel')
    except:
        pass

O tempo gerado aleatoriamente é 15s
A distancia entre o sonar e o objeto é de aproxidamente 11325.0
Entretanto, por variações normais da agua, o objeto pode estar entre 10875.0m e 11775.0m

4. (valor 2,0) Considerando o trecho de código, desenvolvido por um colega do BIA:

  a)Usando pandas, escreva uma função em Python para calcular a média da coluna 'salario', a partirda escolha do ‘publico’.

  b)Suponha que 'idade' e 'salario' sejam características e 'comprou' seja uma faixa de clientes que realizaram uma compra. Analisada no banco de dados, temos ainda os ‘produtos’ ofertados para a venda, e o ‘publico’ alvo. Escreva um algoritmo que oriente um vendedora para que ele amplie o esforço na oferta de um produto ou não por ter probabilidade alta de negociação ou baixa de negociação, dentro do histórico de vendas.

  c)Comente sobre o storytelling de dados observado. O que os dados contam sobre os compradores da empresa?

In [11]:
#Codigo fornecido pelo colega

data = {
'idade': [25, 32, 34, 45, 22, 65],
'salario': [5000, 6400, 7000, 9800, 4500,15000 ],
'publico':['M','F','F','M','M','F'],
'produtos':['ALL','BOLSAS','SAPATOS',' ALL',' ALL','ACESSÓRIOS'],
'comprou': [0, 1, 1, 0, 0, 1]
}
#Esse 'data' foi um pouco alterado, pois faltava algumas virgulas e havia alguns "'" errados

df = pd.DataFrame(data)
display(df)

   idade  salario publico    produtos  comprou
0     25     5000       M         ALL        0
1     32     6400       F      BOLSAS        1
2     34     7000       F     SAPATOS        1
3     45     9800       M         ALL        0
4     22     4500       M         ALL        0
5     65    15000       F  ACESSÓRIOS        1

In [ ]:
#Exercicio A

try:
    public = input('Escolha o seu publico, M para masculino e F para feminino: ')
    #O usuario define o publico alvo

    data_public = df[df['publico'] == public]
    #Seleciona as linhas com o publico alvo

    media_salario = data_public.mean(numeric_only=True)[1]
    #calcula a media salarial do publico alvo

    print(f'A media de salário do publico {public} é R${media_salario:.2f}')
except:
    pass

Na resolução do exercicios B, eu fiz duas propostas. A primeira é um algoritmo simples de recomendação, apenas com ifs e elses, baseados no storytelling dos dados em que observarmos nos dados disponibilizados. No segundo algoritmo, foi utilizado o modulo de regressão do Pycaret para tentar desenvolver algo mais complexo, alem disso, mais clientes fora gerados de forma aleatoria.

In [ ]:
#Exercicio B - Primeira Resolução
#Como ha poucos dados disponiveis sobre os clientes, apenas 6
#Não é possivel fazer um sistema de recomendação tão complexo
#então fiz um sistema de recomendação simples baseado no storytelling
#dos dados disponiveis

try:
  sexo, salario = input('Sexo(M/F): '), int(input('Salario: '))

  if sexo == 'F': #Alta probabilidade de negociação para mulheres
    print('Alta probabilidade de negociação')
    if salario >= 10000:
      #Recomendações de tipos de produtos apartir do estimativa de salario da pessoa
      print('Tente mostrar ao cliente os acessórios disponiveis na loja')
    else:
      print('Tente fornecer ao cliente bolsas e sapatos')
  else: #Baixa probabilidade de negociação para homens
    print('Baixa probabilidade de negociação')
except:
  pass

In [3]:
#Exercicio B - Segunda resolução
#Nessa resolução, sera criado clientes aleatorios, e com o Pycaret iremos fazer um modelo
#de regressão para prever se havera alta probabilida de venda ou não

idade = [25, 32, 34, 45, 22, 65]
salario = [5000, 6400, 7000, 9800, 4500,15000 ]
publico = ['M','F','F','M','M','F']
produtos = ['ALL','BOLSAS','SAPATOS',' ALL',' ALL','ACESSÓRIOS']
comprou = [0, 1, 1, 0, 0, 1]
#Essas listas representam os clientes 'primitivos' da empresa

novos_clientes = int(input('Digite quantos novos clientes a serem adicionados ao historico de vendas: '))

for i in range(novos_clientes):
    novo_produto = 'ALL'
    nova_compra = 0
    nova_idade = random.randrange(10,75) #gera aleatoriamente uma idade
    novo_salario = random.randrange(1000,35000,100)  #gera aleatoriamente um salario
    novo_publico = random.choice(['M','F']) #gera aleatoriamente um sexo
    if novo_publico == 'F': 
        nova_compra = 1
        if novo_salario >= 10000:
            novo_produto = random.choice(['BOLSAS','ACESSÓRIOS'])
        elif novo_salario < 10000:
            novo_produto = random.choice(['SAPATOS, BOLSAS'])
        else:
            pass
    #baseado no sexo e salario, cria uma possivel compra pelo cliente
    elif novo_publico == 'M':
        nova_compra = 0
        novo_produto = 'ALL'

    else:
        pass
    idade.append(nova_idade)
    salario.append(novo_salario)
    publico.append(novo_publico)
    produtos.append(novo_produto)
    comprou.append(nova_compra)
    #Adiciona cada caracteristica aleatoria do cliente as listas

data_expanded = { #Cria o dicionario que sera o dataset
'idade': idade,
'salario': salario,
'publico': publico,
'produtos': produtos,
'comprou': comprou
}

df_expanded = pd.DataFrame(data_expanded) #Transforma em DataFrame
display(df_expanded)

       idade  salario publico         produtos  comprou
0         25     5000       M              ALL        0
1         32     6400       F           BOLSAS        1
2         34     7000       F          SAPATOS        1
3         45     9800       M              ALL        0
4         22     4500       M              ALL        0
...      ...      ...     ...              ...      ...
10001     22     4800       F  SAPATOS, BOLSAS        1
10002     46     8200       F  SAPATOS, BOLSAS        1
10003     15    26200       M              ALL        0
10004     71     1900       M              ALL        0
10005     72    33700       M              ALL        0

[10006 rows x 5 columns]

In [4]:
from pycaret.regression import *
s = setup(df_expanded, target = 'comprou', session_id = 123)

#chamamos o modulo de regressão do Pycaret
#E definimos oque queremos, caso o dataset e oque queremos saber

In [5]:
best = compare_models() #Aqui ele compara os modelos disponiveis e da o melhor para nós

Initiated  . . . . . . . . . . . . . . . . . .           08:37:42
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Compiling Library

In [6]:
print(best) #mostra qual o melhor modelo para a nossa situação

LinearRegression(n_jobs=-1)

In [7]:
evaluate_model(best) #mostra alguns informações sobre o modelo treinado

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [8]:
predict_model(best) #O modelo realiza a predição de compra com o dataset de teste

      idade  salario publico         produtos  comprou  prediction_label
3932     58    12900       F       ACESSÓRIOS        1      1.000000e+00
1871     44    12800       M              ALL        0      7.327472e-15
1314     49    10600       M              ALL        0      2.176037e-14
2024     67    20300       F           BOLSAS        1      1.000000e+00
7449     33    19800       F           BOLSAS        1      1.000000e+00
...     ...      ...     ...              ...      ...               ...
1831     56    12900       M              ALL        0      4.163336e-14
2307     30    18600       M              ALL        0     -3.319567e-14
8009     44     1100       F  SAPATOS, BOLSAS        1      1.000000e+00
1812     74    22000       M              ALL        0      9.237056e-14
5275     12    31500       F           BOLSAS        1      1.000000e+00

[3002 rows x 6 columns]

In [10]:
#Aqui o modelo sera utilizado com dados totalmente novos e ira prever a probabilidade de compra
#Parte que o usario(vendedor) teria acesso

print('-'*5+' Bem vindo ao recomendar de vendas!'+'-'*5)
print('Digite as seguintes caracteriscas do cliente, mesmo que seja estimativas!')
try:
    age = int(input('Idade: '))
    salary = int(input('Salario aproximado: '))
    sex = input('Sexo(M/F): ')
    #Recebe os dados basicos do cliente novo a ser atendido

    if sex == 'F':  
        if salary >= 10000:
            produto = random.choice(['BOLSAS','ACESSÓRIOS'])
        elif salary < 10000:
            produto = random.choice(['SAPATOS, BOLSAS'])
        else:
            pass
    elif sex == 'M':
        produto = 'ALL'
    else:
        print('Digite uma opção viavel!')
    #Gera um produto provavel de ser comprado pelo cliente a ser atendido
    #Essa parte é importante, para fazer com que o modelo seja capaz de ser aplicado

    data_cliente = {'idade': [age],
                    'salario': [salary],
                    'publico': [sex],
                    'produtos': [produto],
                    } #Dicionario que recebe os dados do cliente a ser analizado

    data_cliente = pd.DataFrame(data_cliente)

    predictions = predict_model(best, data=data_cliente)
    #Aplica o modelo treinado antes e o coloca para analisar o novo cliente

    predicao = predictions.prediction_label[0] 
    #Pega a probabilidade de venda para esse cliente
    
    if predicao >= 0.5: #Baseado nas informações anterior, mostra ao vendedor oque fazer
        print('Alta probabilidade de negociação, tente vender!')
        if salary >= 10000: #Mostra qual tipo de produto e melhor mostrar ao cliente
            print('Tente vender bolsas ou acessórios para este cliente!')
        elif salary < 10000:
            print('Tente vender sapatos ou bolsas para este cliente!')
    else:
        print('Baixa probabilidade de vendas!')

except Exception as error: #tratamento de erros
    print(f'Ocorreu um erro!\n{error}')

----- Bem vindo ao recomendar de vendas!-----
Digite as seguintes caracteriscas do cliente, mesmo que seja estimativas!

Alta probabilidade de negociação, tente vender!
Tente vender bolsas ou acessórios para este cliente!

In [ ]:
#save_model(best, 'my_best_4B')

#Caso queira salvar esse modelo apresentado, é so tirar o # e rodar o codigo.

Exercicio C

Apartir da analise dos dados disponiveis nessa empresa, é possivel perceber que o storytelling de dados nos mostram que o real publico alvo dessa empresa é o publico feminino, uma vez que são elas compraram os sapatos, bolsas e acessorios. Os homens que entram la, não possuem interrese nos produtos da empresa, provavel eles apenas acompanham suas companheiras. Nota-se também que geralmente as mulheres que compram nessa empresa possuem mais de 30 anos, então seria mais voltado para um publico mais adulto do que infantil ou adolescente. Além disso, é notavel que as clientes dessa empresas possuem uma condição financeira um pouco melhor, acima ou dentro da classe D.

5.(valor 2,0) Um pequeno comerciante da sua região ficou sabendo que você está no BIA e te convidou
para um projeto, ele está querendo monitorar o processo de vendas de sua empresa usando IA. Ele
possui um sistema que controla o estoque de roupas, integrado a um sistema de vendas que
armazena todas as vendas. Proponha um algoritmo para solucionar o problema de monitoramento.
Você deverá apresentar a média de vendas e a quantidade de produtos vendidos, para o
acompanhamento do estoque.

Sera utilizado como dataset de exemplo, um dataset das vendas de artigos femininos indianos disponivel no [Kaggle](https://www.kaggle.com/datasets/mukuldeshantri/ecommerce-fashion-dataset)

In [26]:
data_fashion = pd.read_csv('FashionDataset.csv')
#Lê o arquivo .csv com os dados de vendas
#Verifique se o argumento da função esta correta, as vezes no nome do arquivo pode estar alterado

data_fashion = data_fashion.drop(['Sizes','MRP','Discount'],axis=1).drop(data_fashion.columns[0],axis=1)
#Remove algumas colunas que não são importantes
#Ele ja pega o valor real da venda, com o desconto no preço ja incluido

remove_nan = ['BrandName','Deatils','SellPrice','Category']
for i in remove_nan:
  data_fashion = data_fashion[data_fashion[i].map(lambda x: str(x)!="Nan")]
  #Remove todos os itens que possuem a str Nan, o criador do dataset fez isso de proposito

data_fashion = data_fashion.reset_index(drop=True)
#Arruma os indicies do DataFrame apos a retirar dos Nans e colunas inuteis

data_fashion['SellPrice'] = data_fashion['SellPrice'].transform(lambda x: float(x))
#Transforma os elementos da coluna SellPrice no tipo de dado adequado

media_de_vendas = data_fashion.mean(numeric_only=True)[0]
#Pega a media dos preço dos produtos vendidos

numero_de_vendas = data_fashion.shape[0]
#Pega o numero de produtos vendidos, pois o mesmo numero de linhas

print(f'A media de preço dos produtos vendidos é de: {media_de_vendas:.2f}')
print(f'O numero de produtos vendidos é de: {numero_de_vendas}')

display(data_fashion)

A media de preço dos produtos vendidos é de: 1923.68
O numero de produtos vendidos é de: 29575

,BrandName,Deatils,SellPrice,Category
0,life,solid cotton blend collar neck womens a-line d...,849.0,Westernwear-Women
1,only,polyester peter pan collar womens blouson dres...,2449.0,Westernwear-Women
2,fratini,solid polyester blend wide neck womens regular...,599.0,Westernwear-Women
3,zink london,stripes polyester sweetheart neck womens dress...,1379.0,Westernwear-Women
4,life,regular fit regular length denim womens jeans ...,849.0,Westernwear-Women
...,...,...,...,...
29570,shaya by caratlane,the wing woman clover charm necklace,1250.0,Jewellery-Women
29571,swarovski,crystal stylish womens rodhium earrings,8950.0,Jewellery-Women
29572,jewelz,ethnic gold plated jhumki earrings,643.0,Jewellery-Women
29573,estelle,womens gold plated double line fancy white and...,2799.0,Jewellery-Women
29574,estelle,womens gold plated bridge designer mangalsutra...,1899.0,Jewellery-Women